<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>GGFilter</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta property="og:image" content="<%= image_url 'icon.png' %>" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'app/app' %>
  <%= favicon_link_tag 'app/favicon1.png' %>
</head>
<body>
  <div id='loading-spinner' className='loading'></div>
  <div id="app"></div>
  <%= javascript_include_tag 'app/app' %>
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-88008276-1', 'auto');

    // Replace the following lines with the plugins you want to use.
    ga('require', 'cleanUrlTracker');
    ga('require', 'outboundLinkTracker');
    ga('require', 'urlChangeTracker');

    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
</body>
</html>
