!!!
%html
  %head
    %title GGFilter
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %table
      %tr
        %th Game
        %th Minimum
        %th Recommended
      - @games.each do |game|
        %tr
          %td= game.name
          %td= game.system_requirements[:minimum] && game.system_requirements[:minimum][:video_card]
          %td= game.system_requirements[:recommended] && game.system_requirements[:recommended][:video_card]
    -# #app
    -# = javascript_include_tag 'app'
